.ourClient {
  text-align: center;
  margin-top: 10rem;

  .box {
    background-color: var(--color-primary);
    border-radius: 1rem;
    padding: 2.5rem 0;
    color: #fff;
    position: relative;
    max-width: 75rem;
    margin: 0 auto;

    &::after {
      position: absolute;
      content: "";
      background: url("../../img/bg-path1.svg") no-repeat;
      background-position: -10% 200%;
      background-size: 140% 140%;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;

      // @media only screen and (max-width: $bp-small) {
      //   background-position: -200% 600% !important;
      //   background-size: 110% 110%;
      // }
    }

    &::before {
      position: absolute;
      content: "";
      background: url("../../img/bg-path3.svg") no-repeat;
      background-size: 150% 150%;
      background-position: 140% 0%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      // @media only screen and (max-width: $bp-small) {
      //   background-position: 500% -300% !important;
      //   background-size: 110% 110%;
      // }
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    span {
      font-size: 1.5rem;
      line-height: 2;

      @media only screen and (max-width: $bp-small) {
        display: inline !important;
        margin: 0 2rem;
      }
    }

    .btn {
      background-color: #fff;
      color: var(--color-primary);
      font-size: 1.5rem;
      font-weight: 700;
      padding: 1rem 4rem;
      margin-top: 3rem;
      z-index: 1;
    }
  }
}
