.btn-hover {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 10px;
  position: relative;
  font-weight: bold;
  font-size: 1rem;

  &__red {
    font-weight: 400;
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 0;
      height: 0;
      transition: all 0.2s ease-in;
      border-radius: 8px;
      background-color: rgba(255, 62, 62, 0.342);
    }

    &:hover::before {
      width: 102%;
      height: 106%;
    }
  }

  &__white {
    box-shadow: 0 1rem 1rem rgba(255, 114, 114, 0.2);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0%;
      height: 0%;
      transition: all 0.2s ease-in;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.342);
    }

    &:hover::before {
      width: 100%;
      height: 100%;
    }
  }

  &__primary {
    box-shadow: 0 0.1rem 1rem rgba(255, 255, 255, 0.5);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0%;
      height: 0%;
      transition: all 0.2s ease-in;
      border-radius: 1rem;
      background-color: var(--color-primary-light);
    }

    &:hover::before {
      width: 100%;
      height: 100%;
    }
  }
}
